# Python cache
__pycache__/
.pytest_cache/

# OS files
.DS_Store

# Virtual environment
venv/

# Temporary result files
results/

# Ignore Mnist and CIFAR datasets
data/

# Python packaging
*.egg-info/




